---
import SignupReact, { signup as signupReact } from "../components/react/Signup";
import SignupPreact, {
  signup as signupPreact,
} from "../components/preact/Signup";
import SignupSolid, {
  signup as signupSolid,
} from "../components/solid-js/Signup";
import Sanitize, { sanitize } from "../components/Sanitize";
import { ViewTransitions } from "astro:transitions";

const { form } = Astro.locals;

const formResultReact = await form.getDataByName("signupReact", signupReact);
const formResultPreact = await form.getDataByName("signupPreact", signupPreact);
const formResultSolid = await form.getDataByName("signupSolid", signupSolid);
const sanitizeFormResult = await form.getDataByName("sanitize", sanitize);

[
  formResultReact,
  formResultPreact,
  formResultSolid,
  sanitizeFormResult
].forEach((formResult) => {
  if (formResult?.data) {
    console.log(formResult.data);
  }
});

await new Promise((resolve) => setTimeout(resolve, 400));
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <ViewTransitions />
    <title>Astro</title>
  </head>
  <body>
    <main class="!m-auto max-w-prose">
      <h1>Simple form</h1>
      <h2>React</h2>
      {
        formResultReact?.data && (
          <div
            class="bg-green-100 border border-green-400 text-green-700 px-4 py-3 rounded relative"
            role="alert"
          >
            <strong class="font-bold">Success!</strong>
            <span class="block sm:inline">
              You have successfully submitted the form.
            </span>
          </div>
        )
      }
      <div transition:name="react-form">
        <SignupReact serverErrors={formResultReact?.fieldErrors} client:load />
      </div>

      <hr />

      <h2>Preact</h2>
      {
        formResultPreact?.data && (
          <div
            class="bg-green-100 border border-green-400 text-green-700 px-4 py-3 rounded relative"
            role="alert"
          >
            <strong class="font-bold">Success!</strong>
            <span class="block sm:inline">
              You have successfully submitted the form.
            </span>
          </div>
        )
      }
      <div transition:name="preact-form">
        <SignupPreact
          serverErrors={formResultPreact?.fieldErrors}
          client:load
        />
      </div>
      
      <hr />

      <h2>Solid</h2>
      {
        formResultSolid?.data && (
          <div
            class="bg-green-100 border border-green-400 text-green-700 px-4 py-3 rounded relative"
            role="alert"
          >
            <strong class="font-bold">Success!</strong>
            <span class="block sm:inline">
              You have successfully submitted the form.
            </span>
          </div>
        )
      }
      <div transition:name="solid-form">
        <SignupSolid
          serverErrors={formResultSolid?.fieldErrors}
          client:load
        />
      </div>
      
      <hr />

      <h2>Sanitize</h2>
      <div class="pb-2">
        Try pasting this code snippet into each field once and submit
        <code>
          {`<script>alert('test')</script>`}
        </code>
      </div>
      <div transition:name="sanitize-form">
        <Sanitize serverErrors={sanitizeFormResult?.fieldErrors} client:load />
      </div>
      {
        sanitizeFormResult?.data && (
          <>
            <div>
              Sanitized result:{" "}
              <span set:html={sanitizeFormResult.data.sanitized} />
            </div>
            <div>
              Unsanitized result:{" "}
              <span set:html={sanitizeFormResult.data.unsanitized} />
            </div>
          </>
        )
      }
      <style>
        @import "open-props/style";
        @import "open-props/normalize";
      </style>
    </main>
  </body>
</html>
